extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .hero__socials
      +socials('white')
    .hero__menu
      a.hamburger
        .hamburger__bars

    .hero__content
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('myphoto.jpg', 'page title' , 'user__pic-img')
          .user__info
            .user__name Сучков Дмитрий
            .user__desc Личный сайт

    .hero__arrow-down

  section.about
    .about__col.about__col--left
      .about__triangle-left
      .about__left-title
        h1.title Обо мне
      .about__user-info
        .user-info
          .user-info__avatar
            +image('myphoto.jpg', 'page title' , 'user__pic-img')
          .user-info__title
            h2.subtitle Кто  я
          .user-info__text.text-block
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam modi et molestiae natus accusamus odit voluptatum debitis mollitia omnis eaque voluptates impedit deserunt officiis blanditiis, fugiat voluptatem facere incidunt ab!
            br
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam modi et molestiae natus accusamus odit voluptatum debitis mollitia omnis eaque voluptates impedit deserunt officiis blanditiis, fugiat voluptatem facere incidunt ab!
    .about__col
      .about__triangle-right
      .about__left-title
        h2.subtitle Чем я могу вам быть вам полезен
      .about__desc-text.text-block
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem cupiditate distinctio exercitationem voluptate facilis quam aut ullam numquam modi vitae obcaecati aliquid inventore natus et perspiciatis fuga minima, earum adipisci?

      .about__content
        ul.skills
          each skillsList, skillsAreaName in fullSkillsList
            li.skills__item.skillsArea
              .skillsArea__title #{skillsAreaName}
              ul.skillsArea__list
                each skillValue, skillName in skillsList
                  li.skillsArea__item
                    figure.skill
                      .skill__circles
                        svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
                      .skill__title #{skillName}

  section.map
    .map__content
      +contacts('extend')