- var socialItems = {"vk": "//vk.com","github": "//github.com","in": "//linkedin.com"}

-
	var fullSkillsList = {
		'FrontEnd':{'HTML5':50,'CSS3':50,'Javascript & JQuery':50},
		'BackEnd':{'Python':50,'Oracle':50},
		'WorkFlow':{'Git':50,'Gulp':50,'Docker':50}
		}

-
	var contactsList = [
		{'icon': 'skype', 'info':'dvsuchkov', 'link' :'skype:dvsuchkov' },
		{'icon': 'envelope_n', 'info':'zemlak@list.ru', 'link' :'mailto:zemlak@list.ru'},
		{'icon': 'phone_n', 'info':'+7 123 1235588', 'link' :'tel:+7 123 1235588'},
		{'icon': 'map_n', 'info':'Москва, ул. Нижняя Лихосранская д.5', 'link' :''}
	]

-
	var menuItems = [
		{'link':'works.html', 'name':'Мои работы'},
		{'link':'about.html', 'name':'Обо мне'},
		{'link':'blog.html', 'name':'Блог'},
		{'link':'./', 'name':'Авторизация'}
	]