.text-content {
  color: $text-color;
  font-family: Roboto, Helvetica, ssans-serif;
  p {
    margin-bottom: 15px;
  }
  blockquote {
    margin: 0;
    padding: 0;
    opacity: .5;
    font-weight: 300;
    font-style: italic;
  }
}

.title {
  font-family: "Sansus", Helvetica, sans-serif;
  color: $title_color;
  text-transform: uppercase;
  font-size: 63px;
  text-align: center;
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    margin: 15px auto;
    background-color: $title_color;
  }
}

.subtitle {
  margin-top: 20px;
  position: relative;
  color: $title_color;
  font-family: "Sansus", Helvetica, sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    margin: 15px auto;
    background-color: $title_color;
  }
}