$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$blue: #1056d1;
$bg_biege: #f2f0e8;
$bg_grey: #e3e2de;
$text_color: #566358;
$title_color: #474b57;
$footer_text_color: #9e9fa3;
// $font_title: '"Sansus", Helvetica, sans-serif';
// $font_text: "Roboto, Helvetica, ssans-serif";
$small_desktop_screen_width: 768px;
$tablet_screen_width: 768px;
$phone_screen_width: 480px;
$small_phone_screen_width: 370px;