$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$bg_biege: #f2f0e8;
$bg_grey: #e3e2de;


//braskpoints
$small_desktop_screen_width: 768px;
$tablet_screen_width: 768px;
$phone_screen_width: 480px;
$small_phone_screen_width: 370px;