.about {
	display: flex;



	&__col {
		// position: relative;
		// 
		width: 50%;
		background-color: $bg_biege;

		&--left {
			display: flex;
		}

		&:nth-child(even) {
			background: $bg_grey;
		}
	}

	&__left-title {
		margin: 0 15px 35px;
		min-width: 40%;
	}

	&__user-info {
		margin: 15px 20px;
	}

	&__desc-text,
	&__content {
		margin: 2rem;
	}

	&__triangle-left {
		margin-top: -10vh;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10vh 0 0 49.5vw;
		border-color: transparent transparent transparent $bg_biege
	}

	&__triangle-right {
		margin-top: -10vh;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 10vh 49.75vw;
		border-color: transparent transparent $bg_grey transparent;
	}
}