.contacts {
  &__list {
    display: flex;
    .extend & {
      flex-wrap: wrap;
    }
    .column & {
      flex-direction: column;
    }
    margin: 10px;
    ;
  }
  &__item {
    width: 50%;
    .extend & {
      margin-bottom: 25px;
    }
    .column & {
      width: initial;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
  &__link {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__info {
    .grey & {
      color: $footer_text_color;
    }
  }
  &__icon {
    fill: $blue;
    height: 45px;
    min-width: 45px;
    width: 45px;
    margin-right: 10px;
  }
}