.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 10%;
  background-color: rgba(#3b3e46, .85);
  color: $footer_text_color;
  &__main-content {
    display: flex;
  }
  &__info {
    flex: 1;
    min-width: 30%;
    margin: 35px;
    font-weight: 300;
  }
  &__links {
    flex: 1;
    min-width: 30%;
    margin: 15px;
    padding: 15px;
    color: #fff;
    border-left: 1px solid $footer_text_color;
    border-right: 1px solid $footer_text_color;
  }
  &__contacts {
    flex: 1;
    min-width: 30%;
    margin: 15px;
  }
}