.socials {
  display: flex;
  &__item {
    margin: 0 26px 0 0;
    width: 35px;
    height: 25px;
  }
  &__icon {
    .white & {
      fill: $white;
    }
    .grey & {
      fill: $footer_text_color;
    }
    &:hover {
      fill: $blue;
    }
    width: 100%;
    height: 100%;
  }
}